.css-content-main {
    border: 1px solid black;
    width: 100%;
    background-color: rgb(255, 216, 87);
    padding: 20px;
}
.css-content-main {
    display: flex;
    flex-direction: column;
}
.css-content-machine {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    line-height: 40px;
}

.css-content-machine .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    align-items: center;
}
.css-content-machine input {
    padding: 5px 10px;
    background-color: aqua;
    line-height: 20px;
}
.col-topla {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.css-img-smll {
    height: 20px;
}
.col-note {
    font-size: x-small;
    line-height: 20px;
}
.css-model {
    padding: 3px 10px;
    margin: 5px 5px;
    background-color: rgba(179, 174, 174, 0.3);
    cursor:pointer;
    border-radius: 10px;
}
.css-model:hover {
    background-color: rgba(201, 100, 100, 0.3);
}
.css-input-width1 {
    width: 250px !important;
    display: flex;
    justify-content: center;
    position: relative;
}
.css-filter-row {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
}
.mbf-3 {
    display: flex;
    margin-bottom: 0px;
}
.css-par-machine-filter-div {
    position: absolute;
    background-color: white;
    min-width: 400px;
    top: 30px;
    left: 20px;
    z-index: 201;
}
.css-filter-picked-main {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -15px;
}
.css-filter-picked-element-main {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgba(100, 172, 201, 0.3);
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: smaller;
}
.css-filter-picked-element-main img {
    height: 14px;
    cursor: pointer;
    margin-left: 5px;
}
.css-filter-picked-element-main:hover {
    font-weight: bold;
}
.css-input-group-part-name {
    width: 300px;
}