<div class="css-content-main">
    <h3>
        İçerik düzenleme - 
        @if (this.fEditingMachineId || this.fEditingMachineId === 0) {
            Edit Machine
        }
        @else if (this.fEditingPartId) {
            Edit Part
        }
        @else if (this.fEditingServiceId) {
            Edit Service
        }
        @else if (this.fNewMachine) {
            Add Machine
        }
        @else if (this.fNewPart) {
            Add Part
        }
        @else if (this.fNewService) {
            Add Service
        }
    </h3>
    <form [formGroup]="fgEditingMachine">
    @if (this.fEditingContent) {
        <div class="css-content-machine container">
            <div class="row">
                <div class="col-md-3">
                    @switch (fEditingContent) {
                        @case (fEditingMachine) {
                            Machine Model:
                        }
                        @case (fEditingPart) {
                            Part Name:
                        }
                        @case (fEditingService) {
                            Service:
                        }
                    }
                </div>
                <div class="col-md-4">
                    @switch (fEditingContent) {
                        @case (fEditingMachine) {
                            {{fEditingContent.machine.name}}
                        }
                        @case (fEditingPart) {
                            {{fEditingContent.part.name}}
                        }
                        @case (fEditingService) {
                            {{fEditingContent.service.name}}
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">List Price:</div>
                <div class="col-md-4">
                    @if (fEditingContent.listPriceBefore != fEditingContent.listPriceNow) {
                        {{fEditingContent.listPriceBefore}} |
                    }
                    {{ fEditingContent.listPriceNow }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Unit Price:</div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="formUnitPrice" placeholder="" formControlName="fcEditingMachinePrice">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Qty:</div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="formQuantity" placeholder="" formControlName="fcEditingMachineQty">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Termin:</div>
                <div class="col-md-6">
                    <div class="col-topla">
                        <input type="text" style="width: 188px;" class="form-control" id="formTermin" placeholder="" formControlName="fcEditingMachineTermin">
                        <div> days</div>
                    </div>
                    <div class="col-note"> 0: stock; -1: will be programmed after purchase; [blank]: -</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Notes:</div>
                <div class="col-md-7 col-notlar">
                    @if (!fEditingContent.notes || (fEditingContent.notes.length < 1)) {
                        <span style="font-style: italic; font-size: smaller;">no note yet</span>
                    }
                    @for (note of fEditingContent.notes; track note) {
                        <div class="css-col-note col-topla"><div>* {{note}}</div><img src="/images/delete.png" class="css-intable-img css-img-smll" title="Delete" (click)="deleteNote(note)" /></div>
                    }
                    <div class="css-col-note col-topla">
                        <input type="text" class="form-control" id="formNewNote" placeholder="" formControlName="fcEditingMachineNewNote">
                        <button class="btn btn-info" (click)="addNote()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="css-div-buttons">
            @if (!this.fNewMachine && !this.fNewPart && !this.fNewService) {
                <button type="submit" class="btn btn-success" (click)="contentEditSave()">Save</button>
            }
            @else {
                <button type="submit" class="btn btn-success" (click)="contentNewSave()">Save</button>
            }
            <button type="button" class="btn btn-danger" (click)="contentEditCancel()">Cancel</button>
        </div>
    }
    @else if (fNewMachine) {
        <div>
            <div class="input-group mb-3">
                <input [(ngModel)]="machineFilterText" type="text" class="form-control" placeholder="machine name or code" aria-label="Username" (input)="filterInputChanging($event)" [ngModelOptions]="{standalone: true}"  aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><mat-icon aria-hidden="false" aria-label="Ara" fontIcon="search"></mat-icon></span>
                </div>
            </div>
            <div class="css-model-list">
                @for (fMachineModel of this.fSelectableNewMachinesFiltered; track fMachineModel; let idx = $index) {
                    @if (idx < 10) {
                        <div class="css-model" (click)="newMachineModelPicked(fMachineModel)">{{fMachineModel.name}}</div>
                    }
                }
                @if (this.fSelectableNewMachinesFiltered && this.fSelectableNewMachinesFiltered.length && this.fSelectableNewMachinesFiltered.length > 10) {
                    <div style="margin: 0 20px;">...</div>
                }
            </div>
        </div>
    }
    @else if (fNewPart) {
        <div class="css-filter-row row">
            <div class="col-3">Filter by Machine:</div>
            <div class="css-input-width1 col">
                @if (this.partMachineFiltering) {
                    <div class="css-par-machine-filter-div">
                        @for (mMachine of this.partFilterMachines; track mMachine) {
                            <div class="css-model" (click)="newPartMachinePicked(mMachine)">{{mMachine.name}}</div>
                        }
                    </div>
                }
                <div class="input-group mbf-3">
                    <input [(ngModel)]="partMachineFilterText" (focus)="partMachineFilterFocused()" (blur)="partMachineFilterBlur()" id="partMachineFilterInput" type="text" class="form-control" placeholder="machine name or code" aria-label="Username" (input)="partFilterInputChanging($event)" [ngModelOptions]="{standalone: true}"  aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><mat-icon aria-hidden="false" aria-label="search" fontIcon="search"></mat-icon></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="css-filter-row row">
            <div class="col-3"></div>
            <div class="css-filter-picked-main col">
                @for (mMachine of this.partFilterMachinesSelectedList; track mMachine) {
                    
                    <div class="css-filter-picked-element-main">
                        <div class="css-filter-picked-element">
                            {{mMachine.name}}
                        </div>
                        <div class="css-filter-picked-element-delete">
                            <img src="/images/cross.png" class="css-intable-img css-img-smll" title="Sil" (click)="partMachinePickedDelete(mMachine.id)" />
                        </div>
                    </div>
                    
                }
            </div>
        </div>
        <div class="css-filter-row row">
            <div class="col-3">Search name:</div>
            <div class="css-input-group-part-name col">
                <div class="input-group mbf-3">
                    <input [(ngModel)]="partNameFilterText" id="partFilterInput" type="text" class="form-control" placeholder="parça ismi girin" aria-label="part name" (input)="partFilterNameChanging($event)" [ngModelOptions]="{standalone: true}"  aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><mat-icon aria-hidden="false" aria-label="Ara" fontIcon="search"></mat-icon></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="css-filter-row row">
            <div class="col">
                @for (fPart of this.partsFiltered; track fPart; let idx = $index) {
                    @if (idx < 10) {
                        <div class="css-model" (click)="newPartPicked(fPart)">{{fPart.name}}</div>
                    }
                    @if (idx > 10 && idx + 1 === partsFiltered?.length) {
                       <div>...</div> 
                    }
                }
            </div>
        </div>
    }
    @else if (fNewService) {
        <div class="css-filter-row row">
            <div class="col">
                @for (fService of this.fServices; track fService; let idx = $index) {
                    @if (idx < 20) {
                        <div class="css-model" (click)="newServicePicked(fService)">{{fService.name}}</div>
                    }
                    @if (idx > 20 && idx + 1 === partsFiltered?.length) {
                       <div>...</div> 
                    }
                }
            </div>
        </div>
    }
    </form>

</div>