<div class="css-content-main">
    <h3>
        İçerik düzenleme - 
        @if (this.fEditingMachineId) {
            Makine Düzenle
        }
        @else if (this.fEditingPartId) {
            Parça Düzenle
        }
        @else if (this.fEditingServiceId) {
            Servis Düzenle
        }
        @else if (this.fNewMachine) {
            Makine Ekle
        }
        @else if (this.fNewPart) {
            Parça Ekle
        }
    </h3>
    <form [formGroup]="fgEditingMachine">
    @if (this.fEditingContent) {
        <div class="css-content-machine container">
            <div class="row">
                <div class="col-md-3">
                    @switch (fEditingContent) {
                        @case (fEditingMachine) {
                            Makine Modeli:
                        }
                        @case (fEditingPart) {
                            Parça ismi:
                        }
                        @case (fEditingService) {
                            Servis:
                        }
                    }
                </div>
                <div class="col-md-4">
                    @switch (fEditingContent) {
                        @case (fEditingMachine) {
                            {{fEditingContent.machine.name}}
                        }
                        @case (fEditingPart) {
                            {{fEditingContent.part.name}}
                        }
                        @case (fEditingService) {
                            {{fEditingContent.service.name}}
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Liste Fiyatı:</div>
                <div class="col-md-4">
                    @if (fEditingContent.listPriceBefore != fEditingContent.listPriceNow) {
                        {{fEditingContent.listPriceBefore}} |
                    }
                    {{ fEditingContent.listPriceNow }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Birim Fiyat:</div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="formUnitPrice" placeholder="" formControlName="fcEditingMachinePrice">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Adet:</div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="formQuantity" placeholder="" formControlName="fcEditingMachineQty">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Termin:</div>
                <div class="col-md-6">
                    <div class="col-topla">
                        <input type="text" style="width: 188px;" class="form-control" id="formTermin" placeholder="" formControlName="fcEditingMachineTermin">
                        <div> gün</div>
                    </div>
                    <div class="col-note"> 0: stok; -1: siparişten sonra programlanacak; [boş]: -</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">Nolar:</div>
                <div class="col-md-7 col-notlar">
                    @for (note of fEditingContent.notes; track note) {
                        <div class="css-col-note col-topla"><div>* {{note}}</div><img src="/images/delete.png" class="css-intable-img css-img-smll" title="Sil" (click)="deleteNote(note)" /></div>
                    }
                    <div class="css-col-note col-topla">
                        <input type="text" class="form-control" id="formNewNote" placeholder="" formControlName="fcEditingMachineNewNote">
                        <button class="btn btn-success" (click)="addNote()">Ekle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="css-div-buttons">
            @if (!this.fNewMachine && !this.fNewPart && !this.fNewService) {
                <button type="submit" class="btn btn-success" (click)="contentEditSave()">Kaydet</button>
            }
            @else {
                <button type="submit" class="btn btn-success" (click)="contentNewSave()">Kaydet</button>
            }
            <button type="button" class="btn btn-danger" (click)="contentEditCancel()">İptal</button>
        </div>
    }
    @else if (fNewMachine) {
        <div>
            <div class="input-group mb-3">
                <input [(ngModel)]="machineFilterText" type="text" class="form-control" placeholder="makine ismi veya kodu girin" aria-label="Username" (input)="filterInputChanging($event)" [ngModelOptions]="{standalone: true}"  aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><mat-icon aria-hidden="false" aria-label="Ara" fontIcon="search"></mat-icon></span>
                </div>
            </div>
            <div class="css-model-list">
                @for (fMachineModel of this.fSelectableNewMachinesFiltered; track fMachineModel; let idx = $index) {
                    @if (idx < 10) {
                        <div class="css-model" (click)="newMachineModelPicked(fMachineModel)">{{fMachineModel.name}}</div>
                    }
                }
                @if (this.fSelectableNewMachinesFiltered && this.fSelectableNewMachinesFiltered.length && this.fSelectableNewMachinesFiltered.length > 10) {
                    <div style="margin: 0 20px;">...</div>
                }
            </div>
        </div>
    }
    @else if (fNewPart) {
        <div class="css-filter-row">
            <div>Makineye göre filtrele:</div>
            <div class="css-input-width1">
                @if (this.partMachineFiltering) {
                    <div class="css-par-machine-filter-div">
                        @for (mMachine of this.partFilterMachines; track mMachine) {
                            <div class="css-model" (click)="newPartMachinePicked(mMachine)">{{mMachine.name}}</div>
                        }
                    </div>
                }
                <div class="input-group mbf-3">
                    <input [(ngModel)]="partMachineFilterText" (focus)="partMachineFilterFocused()" (blur)="partMachineFilterBlur()" id="partMachineFilterInput" type="text" class="form-control" placeholder="makine ismi veya kodu girin" aria-label="Username" (input)="partFilterInputChanging($event)" [ngModelOptions]="{standalone: true}"  aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><mat-icon aria-hidden="false" aria-label="Ara" fontIcon="search"></mat-icon></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="css-filter-row">
            <div class="css-filter-picked-main">
                @for (mMachine of this.partFilterMachinesSelectedList; track mMachine) {
                    
                    <div class="css-filter-picked-element-main">
                        <div class="css-filter-picked-element">
                            {{mMachine.name}}
                        </div>
                        <div class="css-filter-picked-element-delete">
                            <img src="/images/cross.png" class="css-intable-img css-img-smll" title="Sil" (click)="partMachinePickedDelete(mMachine.id)" />
                        </div>
                    </div>
                    
                }
            </div>
        </div>
        <div class="css-filter-row">
            <div>İsim ara:</div>
            <div class="css-input-group-part-name">
                <div class="input-group mbf-3">
                    <input [(ngModel)]="partNameFilterText" id="partFilterInput" type="text" class="form-control" placeholder="parça ismi girin" aria-label="part name" (input)="partFilterNameChanging($event)" [ngModelOptions]="{standalone: true}"  aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><mat-icon aria-hidden="false" aria-label="Ara" fontIcon="search"></mat-icon></span>
                    </div>
                </div>
            </div>
        </div>
    }
    </form>

</div>