.css-content-main {
    border: 1px solid black;
    width: 100%;
    background-color: rgb(255, 216, 87);
    padding: 20px;
}
.css-content-main {
    display: flex;
    flex-direction: column;
}
.css-content-machine {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    line-height: 40px;
}

.css-content-machine .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    align-items: center;
}
.css-content-machine input {
    padding: 5px 10px;
    background-color: aqua;
    line-height: 20px;
}
.col-topla {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.css-img-smll {
    height: 20px;
}